Package: asus-duo-tools
Version: 1.5
Section: utils
Priority: optional
Architecture: all
Maintainer: Mika Hämäläinen <mika@mikakalevi.com>
Depends: python3-gi, gir1.2-gtk-4.0
Description: Dual display fix 
 Adds a tray to control Asus screens and keyboard. Automatically turns the bottom screen on/off when keyboard is connected/disconnected. Supports KDE/Gnome
