[Desktop Entry]
Type=Application
Exec=lid-monitor.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=LidMonitor
Name=LidMonitor
Comment[en_US]=
Comment=
