[Service]
Description=Display on off of Duo Screens
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/duo watch-backlight

[Install]
WantedBy=multi-user.target
